<% include ../partials/top %>

<div class="row">
	<div class="col-md-3">
		<p class="lead">Campeggi</p>
		<div class="list-group">
			<li class="list-group-item">View Map</li>
			<li class="list-group-item">Info 2</li>
			<li class="list-group-item">Info 3</li>		
		</div>
	</div>
	<div class="col-md-9">
		<div class="card">
			<img class="card-img-top img-thumbnail" src="<%= campground.image %>" alt="Campground image">	
		</div>
		<div class="card-body clearfix">
			<% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
				<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
					<button class="card-link btn btn-danger btn-sm float-sm-right" href="#">Delete</button>
				</form>
				<a class="card-link btn btn-warning btn-sm edit-fix float-sm-right" 
					 href="/campgrounds/<%= campground._id %>/edit">
					 Edit
				</a>
			<% } %>
			<button class="card-link btn btn-info btn-sm edit-fix float-sm-right" disabled>$<%= campground.price %>/night</button>
			<h1 class="card-title"><%= campground.name %></h1>
			<hr/>
			<p class="card-text"><%= campground.description %></p>
			<p class="card-text"><em>Submitted by: <%= campground.author.username %></em></p>
		</div>
		<h4>Comments:</h4>
		<ul class="list-group list-group flush">
			<% campground.comments.forEach(function(comment) { %>
				<li class="list-group-item">
					<strong><%= comment.author.username %></strong>
					<span class="float-sm-right">10 days ago</span>
					<p><%= comment.text %></p>
					<% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
						<form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
							<button class="card-link btn btn-danger btn-sm float-sm-right" href="#">Delete</button>
						</form>
						<a class="card-link btn btn-warning btn-sm edit-fix float-sm-right" 
							 href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
							Edit
						</a>
					<% } %>
				</li>
			<% }); %>
		</ul>
		<div class="card-body">
			<a class="card-link btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add a new comment!</a>
		</div>
	</div>
</div>

<% include ../partials/bottom %>